:root {
	
}

body {
	margin: 0;
}

.range-slider {
	width: 100%;
}

.shifts {
	position: relative;
	display: flex;
	height: 100px;
	margin: 0 auto;
	

	.disable-touch-drag & {
		touch-action: none;
	}
}

.ui {
	user-select: none;
}

.range {
	--base-bg-color: 172, 220, 255;
	--base-bg-hsl: 0, 0, 0;

	display: flex;
	box-sizing: border-box;
	width: 100px;
	height: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	border: 1px solid currentColor;
	cursor: grab;

	&.second {

	}

	.body {
		flex: 1;
	}

	& button {
		position: relative;
		
		/* visibility: hidden; */

		&:after {
			
		}

		&:active, &:focus {
			
		}

		&:active {
			
		}
	}

	&:hover button {
		/* visibility: visible; */
	}

	@media (hover: hover) {
		& button {
			
		}
		&:hover button {
			
		}
	}

	.label {
		position: absolute;
		
	}

	.active-label {
		display: none;
		position: absolute;
		z-index: 3;
		left: -50px;
		top: 40%;
		

		&.size {
			left: 44%;
			top: 70%;
		}

		&.right {
			left: auto;
			right: -50px;
		}
	}

	&.active {
		
		z-index: 3;

		.active-label {
			display: block;
		}
	}

	.resize-handle {
		position: relative;
		z-index: 2;
		width: 20px;
		height: 100%;
		cursor: col-resize;
	
		&:after {
			
		}

		&.last:after {
			
		}
	}
}

.gradiation {
	position: absolute;
	z-index: 1;
	height: 100%;
	

	& span {
		position: absolute;
		top: -1.5em;
		left: -0.5em;
		min-width: 4.5em;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		height: 100%;
		width: 1px;
		background-color: currentColor;
	}
}



.thumb {
	display: inline-block;
	width: 50px;
	height: 30px;
	/* margin-top: 10px; */
	padding: .2em;
	cursor: grab;

	.disable-touch-drag & {
		touch-action: none;
	}

	&:after {
		
	}
}

.data-panels {
	position: relative;
	display: flex;

	.data-panel {
		position: absolute;
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-areas: "legend data";
		grid-auto-rows: auto;
		flex: 1;
		visibility: hidden;

		&:after {
			
		}

		&.active {
			position: absolute;
			visibility: visible;
		}

		& h4 {
			
		}

		& input {
			

			&[type=number] {
				
			}
		}

		& label {
			
		}

		.fieldset {
			display: grid;
			grid-template-columns: subgrid;
			grid-column: 1/-1;
			
			& label {
				
			}

			& input, select {
				
			}
		}

		.no-label input, button {
			grid-column: 1/-1;
		}

		& button.close {
			position: absolute;
			top: 2px;
			right: 2px;
			grid-column: unset;
			
		}

		& button.rm {
			
		}
	}
}

/* forms */
input, select {
	
}

input[type=color] {
	background-color: transparent;
}

button {
	
}

fieldset {
	& label {
		
	}
}



@media screen and (max-height: 450px) {
	
}